@page
@model Razor_Pages_Project.Pages.Employees.IndexModel
@{
    ViewData["Title"] = "Index";
    ViewData["ShowButton"] = true;
}

<style>
    .btn {
        width: 75px;
    }
</style>
<form method="get">
    <div class="input-group" >
        <input class="form-control"asp-for="SearchTerm" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">search</button>
        </div>
    </div>

</form>

@*@await Component.InvokeAsync("HeadCount" )*@
<vc:head-count department-name="@null"></vc:head-count>
<h1>Employees</h1>

<div class="card-deck">
    @foreach (var Employee in Model.Employees)
    {
        <partial name="_DisplayEmployeePartial" model="Employee" view-data="ViewData" />

    }

</div>