@page
@model Razor_Pages_Project.Pages.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h1>The Resourses You are looking For cannot be Found</h1>

<a asp-page="/Employees/Index" class="btn btn-primary">
    Click Here To get back Home
</a>

